# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

##### Some  of the popular languages that Data Scientists use are:
##### Python
##### R
##### Julia
##### Go
##### Vim
##### C
##### C++
##### Java

##### Some of the common libraries used by Data Scientists include:
##### Matplotlib
##### Numpy
##### ggplot2
##### Math

In [13]:
import pandas as pd

In [19]:
DSTools={"Data Science Tools":["Jupiter Notebook", "R Studio", "Spyder", "Visual Studio"]}

In [22]:
df=pd.DataFrame(DSTools)
df

  Data Science Tools
0   Jupiter Notebook
1           R Studio
2             Spyder
3      Visual Studio

### Below are a few examples of evaluating arithmetic expressions in Pyton

In [25]:
# This is a simple arithmetic expression to multiply the add integers.
(3*4)+5

17

In [31]:
# This will convert 200 minutes to hours dividing by 60.
200//60

3

__Objectives:__
- Python
- Java
- Julia
- R
- SQL
- MySql

## Author
SÃ©rgio Rato Cordeiro